@tailwind base;
@tailwind components;
@tailwind utilities;

.text-rendering-optimize {
  text-rendering: optimizeSpeed;
}

.overflow-wrap-normal {
  overflow-wrap: normal;
}

.overflow-wrap-anywhere {
  overflow-wrap: anywhere;
}

.scroll-margin-top-14 {
  scroll-margin-top: 56px;
}

@font-face {
  font-family: "SF Mono";
  font-style: normal;
  font-weight: 300;
  src:
    local("SF Mono Light"),
    url("/assets/fonts/SFMonoLight.woff") format("woff");
}

@font-face {
  font-family: "SF Mono";
  font-style: normal;
  font-weight: 400;
  src:
    local("SF Mono Regular"),
    url("/assets/fonts/SFMonoRegular.woff") format("woff");
}

@font-face {
  font-family: "SF Mono";
  font-style: normal;
  font-weight: 500;
  src:
    local("SF Mono Medium"),
    url("/assets/fonts/SFMonoMedium.woff") format("woff");
}

@font-face {
  font-family: "SF Mono";
  font-style: normal;
  font-weight: 600;
  src:
    local("SF Mono Semibold"),
    url("/assets/fonts/SFMonoSemibold.woff") format("woff");
}

@font-face {
  font-family: "SF Mono";
  font-style: normal;
  font-weight: 700;
  src:
    local("SF Mono Bold"),
    url("/assets/fonts/SFMonoBold.woff") format("woff");
}

@font-face {
  font-family: "SF Mono";
  font-style: normal;
  font-weight: 800;
  src:
    local("SF Mono Heavy"),
    url("/assets/fonts/SFMonoHeavy.woff") format("woff");
}

.font-sf-mono {
  font-family: "SF Mono";
}
