@tailwind base;
@tailwind components;
@tailwind utilities;

.text-rendering-optimize {
  text-rendering: optimizeSpeed;
}

.overflow-wrap-normal {
  overflow-wrap: normal;
}

.overflow-wrap-anywhere {
  overflow-wrap: anywhere;
}

.scroll-margin-top-14 {
  scroll-margin-top: 56px;
}
